<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>伐採所</string>
		<key>count</key>
		<string>1</string>
		<key>cost</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小屋</string>
		<key>count</key>
		<string>0</string>
		<key>cost</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>狩猟小屋</string>
		<key>count</key>
		<string>0</string>
		<key>cost</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>釣り小屋</string>
		<key>count</key>
		<string>0</string>
		<key>cost</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>石切り場</string>
		<key>count</key>
		<string>1</string>
		<key>cost</key>
		<string>3</string>
	</dict>
</array>
</plist>
